.myVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#skipBtn{
  position: fixed;
  top: 90%;
  left : 92%;
  height: 40px;
  width: 80px;
  font-size: 16px;
  background-color: rgba(97, 108, 184, 0.5);
  cursor: pointer;
  z-index: 1; 
  border-radius: 10%;
  font-family:cursive;
  border: none;
  color: white;
  display: none;
}

.overlay {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 0;
  display: none;
}

#userInput{
  position: fixed;
  width: 300px;
  height: auto;
  top: 25%;
  left: 38%;
  transform-style: preserve-3d;
  transition: transform 1.35s cubic-bezier(0.4, 0.0, 0.2, 1);
  will-change: transform;
}

#login, #signup1 , #signup2, #signup3 {
  position: fixed;
  width: 300px;
  height: auto;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 5px solid rgba(110, 111, 121, 0.5);
  display: none;
  transform-style: preserve-3d;
  transition: transform 1.35s cubic-bezier(0.4, 0.0, 0.2, 1);
  will-change: transform;
}

#login{
  transform: rotateY(0deg) translateZ(202px);
}
#signup1{
  transform: rotateY(90deg) translateZ(202px);
}
#signup2{
  transform: rotateY(180deg) translateZ(202px);
}
#signup3{
  transform: rotateY(-90deg) translateZ(202px);
}

.loginText {
  text-align: center;
  margin-bottom: 20px;
  color : aliceblue;
  font-family: cursive;
  cursor: pointer;
}

.input {

  text-align: right;
  height: 2px;
  padding: 10px;
  background: none;
  border: none;
  border-bottom: 2px solid aliceblue;
  border-radius: 0px;
  outline: none;

}

#extText {
  color : aliceblue;
  font-family: cursive;
  margin-top: 15px;
  margin-bottom: 5px;
}

#newUsername , #newPassword{

  text-align: right;
  height: 2px;
  padding: 10px;
  background: none;
  border: none;
  border-bottom: 2px solid aliceblue;
  border-radius: 0px;
  outline: none;

}

.Btn {

  position: relative;
  width: 200px;
  margin-left: 50px;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  box-shadow:
    0 0 10px rgba(16, 42, 205, 0.5),
    inset 0 0 10px rgba(16, 42, 205, 0.5);
  transition: 0.3s;
  overflow: hidden;

}



.Btn:hover {
  color: #000;
  background: rgba(97, 108, 184, 0.5);
  box-shadow:
    0 0 20px rgba(138, 150, 226, 0.5),
    0 0 40px rgba(97, 108, 184, 0.5),
    0 0 80px rgba(97, 108, 184, 0.5);
}

/* GLITCH LINE EFFECT */
.Btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width : 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(16, 42, 205, 0.5),
    transparent
  );
  transition: 1s;
}

.Btn:hover::before {
  left: 100%;
}


/* Main Page Styles */

.lobby-container{
    max-width:500px;
    margin:50px auto;
    text-align:center;
    color:white;
}

.lobby-avatar{
    width:120px;
    height:120px;
    border-radius:50%;
    border:3px solid white;
}

.lobby-section{
    margin:20px 0;
    padding:15px;
    background:rgba(255,255,255,0.1);
    border-radius:10px;
}

.lobby-buttons button{
    margin:10px;
    padding:10px 20px;
    cursor:pointer;
}

.lobbyPlayButton{
    background-color: rgba(97, 108, 184, 0.5);
    color: white;
    border: none;
    border-radius: 10px;
    font-family:cursive;
    font-size: 16px;
}

.lobbyPlayButton:hover{
    background-color: rgba(219, 53, 194, 0.7);
    color: #000;
}